body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;

}
input {
    display: block;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 1.5px solid #5f9341;
}
button {
    margin-top: 5px;
    background: #5f9341;
    border: 1px solid #5f9341;
    border-radius: 3px;
    padding: 7px 15px;
    color: white;
}
ul {
    list-style: none;
    padding-left: 0;

}
li {

}
a {
    color: #5f9341;
}
#delete-btn {
    background: white;
    color: #5f9341;
    font-weight: bold;

}